<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="ListenOnPort" value="3777"></add>
    <add key="MaxConnections" value="2000"></add>
    <add key="LogFilePattern" value="server-[date].log"></add>
  </appSettings>
</configuration>
