<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="ServerIP" value="172.31.2.36"></add>
    <add key="ServerPort" value="3777"></add>
    <add key="LogFilePattern" value="console-[date].log"></add>
    <add key="Secret" value="ecC9bOwpRaZ4Glou"></add>
  </appSettings>
</configuration>
